.msg-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
}

.header {
    display: flex;
    width: 20%;
    background: darkgray;
}

.right-container {
    width: 20%;
    position: relative;
    background-color: lightgray;
    overflow: hidden;
}

.search-tag {
    width: 90%;
    margin: 2.5% 5%;
    padding: 10px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .25) 
}

.header>h2 {
    color: blue;
}

.chat {
    display: flex;
    justify-content: center;
}

.profile3 {
    width: 50%;
}

.profile3>h3 {
    text-align: start;
}

.friends img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.dropdown-content {
    display: flex;
    width: 90%;
    margin: 0 5%;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.friends {
    padding: 5px 20px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
    /* justify-content: space-between; */
}

.body {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
}

.body span {
    height: 5%;
    /* margin: 10px; */
    box-sizing: border-box;
    padding: 10px;
    display: block;
}

.body-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: cyan;
}

.body-navpro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons {
    font-size: 27px;
}

.progile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    border: 2px solid #d5d5d5;
}

.message {
    padding: 10px 14px;
    margin: 10px 30px;
    border-radius: 9px;
    width: 20%;
    position: relative;
    background-color: #74b9ff;
    color: #f1f1f1;
    align-self: flex-end;
}

.Profile1 img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.Profile1 {
    text-align: center;
    width: 100%;
    position: relative;
}

.message1 {
    padding: 10px 14px;
    margin: 10px 30px;
    border-radius: 9px;
    width: 20%;
    position: relative;
    background-color: #74b9ff;
    color: #f1f1f1;
    align-self: flex-start;
}

.chat-box {
    height: 10%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.chat-box input {
    padding: 16px 2px;
    border: 2px solid #456879;
    border-radius: 10px;
    width: 85%;
    height: 10%;
}

.chat-box img {
    height: 50px;
}

.chat-box>input:hover {
    background-color: honeydew;
}

.chat-box ::after {
    right: 0;
    border-left-color: #74b9ff;
    border-right: 0;
    margin-right: -20px;
}