.pro1{
    margin-top: 50px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding:0px 50px;
   width: 60%;
}
.photo{
    margin-right: 30px;
    width: 150px;
    height: 150px;
    margin-top: -10px;
}
.profile1{
    background-color: #fafafa;
    position: relative;
}
.profile1 button{
    border: 0;
    cursor: pointer;
    padding: 0;
}
.profile1 .profilePic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.settings1{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-around;
    margin-left: 13px;
}
.hide{
    width: 220px;
    z-index: 1;
    height: 50px;
    background: radial-gradient(#fd5949 ,#d6249f);
    position: absolute;
    margin-top: 35px;
    display: none;
    padding-left: 10px;
}

.users1{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-around;
}
.users1 h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.post{
    display: flex;
    flex-direction: row;
    margin-top: 13px;
}
.delete-icon{
    display: flex;
}
.post h3{
    margin-bottom: 0em;
}
.bolds{
    font-size: 16px;
    font-weight: 700;
}
.icons1{
    font-size: 22px;
}
#button{
    align-items: center;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: 30px;
}
#button>i{
    font-size:28px
}
.addbutton{
    display: flex;
    padding: 0px 30px 30px 30px;    
    flex-direction: row;
    justify-content: center;
    width: 55%;
    align-items: center;
}
#edit{
    width: 100px;
    text-align: center;
    padding: 0px;
}
#button>span{
    margin-top: 5px;
    position: absolute;
    
}
.delete-icon img{
    cursor: pointer;
}
#files{
    display: none;
}

.uploads div{
    margin-top: 5px;
    border:0.2px solid rgb(148, 146, 146) ;
    padding: 3px;
    cursor: pointer;
}
.delete-image{
    margin-top: 5px;
    border:0.2px solid rgb(148, 146, 146) ;
    padding: 3px;
    cursor: pointer;
}
.friends{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.profile3{
    width: 50%;
}
  .dropdown-content {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } 
 .button{
    background-color: dodgerblue;
 }
  .dropdown{
      position: relative;
  }
.friendslist{
    position: relative; 
    float: right;
    margin-right: 40px;
    
}
.name-list{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f1f1f1;
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    justify-content: space-evenly;
}
.profile3 >h3{
    text-align: start;
}
.name-list h3{
    color: dodgerblue;
}
.name-list span{
    color: black;
}
.user-friends{
    margin: 50px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.unfollow span{
    color: dodgerblue;
}
.profile2{
    background-color: #f1f1f1;
}
.profile2 img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.dropdown-content1 {
    display: flex;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } 