<div class="main">
    <mat-card class="form-box">

        <mat-card-title>Chatterbox</mat-card-title>

        <mat-card-subtitle> Connecting people </mat-card-subtitle>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="user.name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="user.email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="user.username">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput [(ngModel)]="user.mobile">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput [(ngModel)]="user.password">
        </mat-form-field>

        
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()">Signup</button>
        </mat-card-actions>

        <mat-card-footer>
            <div class="signin">
                <h3>Have an account?</h3>
                <button [routerLink]="['signin']"><h3>Signin</h3></button>
            </div>
        </mat-card-footer>

    </mat-card>

</div>